<agm-map [latitude]="lat" [longitude]="lng" (mapReady)="onMapReady($event)" >
    <agm-direction 
      [origin]="origin" 
      [destination]="destination"
      [waypoints]="waypoints"
      [avoidHighways]="avoidHighways"
      [provideRouteAlternatives]="provideRouteAlternatives"
      [renderOptions]="renderOptions" 
      [markerOptions]="markerOptions"
    >
    </agm-direction>
    <agm-marker *ngIf="isDuration" [latitude]="6.9089267" [longitude]="79.87754780" [visible]="false">
      <agm-info-window [disableAutoPan]="true" [isOpen]="true">
        <strong>{{durationText}} mins</strong>
      </agm-info-window>
    </agm-marker>
  </agm-map>


